/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         Danh Cong
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";
/*==========Setting=========*/

html {
    font-size: 100%;
}

body {
    background-color: #fff;
    font-family: $font-family-base;
    min-width: 320px;
    font-size: $font-size-base;
    line-height: 1.5;
    min-width: 1300px;
}

dt,
dd {
    line-height: 1.5;
}

body,
html {
    height: 100%;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.3;
    font-family: $font-family-heading;
    font-weight: 700;
}

iframe {
    width: 100%;
    border: none;
}

::selection {
    background: $active-color;
    color: #fff;
}

/*==========Components=========*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: $active-color;
}

.my-btn {
    display: inline-block;
    line-height: 40px;
    padding: 0px 30px;
    font-family: $font-family-heading;
    color: #fff;
    background-color: $base-color;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    border: none;
    @include transition();
    &:hover {
        background-color: $active-color;
        outline: none;
        color: #fff;
    }
    &.active {
        background-color: $active-color;
        outline: none;
        color: #fff;
        &:hover {
            opacity: 0.8;
        }
    }
}

.row-fix {
    margin-left: -10px;
    margin-right: -10px;
    .col-fix {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media screen and (max-width: 767px) {
        margin-left: -5px !important;
        margin-right: -5px !important;
        .col-fix {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {}
}

.wrap {
    max-width: 1300px;
    padding: 0px 20px;
    margin: 0px auto;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
    @media (min-width: 1360px) {
        width: 1300px;
    }
}

.header {
    position: relative;
    z-index: 9;
    background-color: #dcefff;
    min-height: 155px;
    padding: 20px 20px 0px 320px;

    @media screen and (max-width: 1400px) {

        padding: 20px 20px 0px 250px;

    }


    .brand {
        float: left;
        width: 320px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        margin: 0px 0px 0px -320px;

        @media screen and (max-width: 1400px) {

            width: 250px;
            margin: 0px 0px 0px -250px;

        }
    }
    .nav {

        padding: 0px 10px 0px 0px;
        overflow: auto;
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
        min-height: 150px;

        ul {
            padding: 0px;
            list-style: none;
            margin: 0px;
            display: inline-block;
            white-space: nowrap;


        }
        li {

            margin: 10px 20px 0px 0px;
            text-align: center;
            display: inline-block;
            vertical-align: bottom;
            &:last-child {}

            .fonts-panel {
                width: 128px;
                height: 64px;
                margin: 0px auto;
                background-color: #dcdcdc;
                border-radius: 14px;
                background-repeat: no-repeat;
                background-position: center center;
                box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
                border: 2px solid #aaaaaa;
                background-image: none !important;
                span {
                    float: left;
                    width: 50%;
                    height: 60px;
                    background: url("../images/icon_text.png") no-repeat center center;
                    cursor: pointer;
                    opacity: 0.9;
                    &:hover {
                        opacity: 1;
                    }
                    &.small {
                        border-right: 1px solid #aaaaaa;
                        background-size: 39% 39%;

                    }
                }


            }

            .color-panel {

                width: auto;
                height: 64px;
                margin: 0px auto;
                background-color: #fff;
                border-radius: 14px;
                background-repeat: no-repeat;
                background-position: center center;
                box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
                background-image: none !important;

                .pen {
                    float: left;
                    width: 54px;
                    height: 54px;
                    float: left;
                    background: url("../images/icon_pen.png") no-repeat center center;

                    cursor: pointer;

                }
                &.line {
                    float: left;
                    height: 30px;
                    margin: 10px 0px 0px 0px;
                    width: 3px;
                    background-color: $button-color;
                }
                .color-item {
                    border-radius: 50%;
                    width: 21px;
                    height: 21px;
                    float: left;
                    margin: 23px 10px 0px 10px;
                    cursor: pointer;
                    &.white {

                        border: 2px solid #000;
                    }
                    &.delete-color {

                        background: url("../images/icon_delete_color.png") no-repeat center center;

                    }
                }

            }
            a {
                display: block;
                div {
                    width: 64px;
                    height: 64px;
                    margin: 0px auto;
                    background-color: #fff;
                    border-radius: 14px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
                    padding: 5px;

                }

                &:hover {
                    p {
                        color: $button-color-hover;
                    }
                }
                &.disable {

                    p {
                        color: $button-color-disable;
                    }
                }
                &.nav-icon1 {

                    div {
                        background-image: url(../images/icon1.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon1_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon1_disable.png);
                        }
                    }
                }
                &.nav-icon2 {

                    div {
                        background-image: url(../images/icon2.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon2_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon2_disable.png);
                        }
                    }
                }
                &.nav-icon3 {

                    div {
                        background-image: url(../images/icon3.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon3_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon3_disable.png);
                        }
                    }
                }
                &.nav-icon4 {

                    div {
                        background-image: url(../images/icon4.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon4_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon4_disable.png);
                        }
                    }
                }
                &.nav-icon5 {

                    div {
                        background-image: url(../images/icon5.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon5_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon5_disable.png);
                        }
                    }
                }
                &.nav-icon6 {

                    div {
                        background-image: url(../images/icon6.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon6_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon6_disable.png);
                        }
                    }
                }
                &.nav-icon7 {

                    div {
                        background-image: url(../images/icon7.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon7_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon7_disable.png);
                        }
                    }
                }
                &.nav-icon8 {

                    div {
                        background-image: url(../images/icon8.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon8_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon8_disable.png);
                        }
                    }
                }
                &.nav-icon9 {

                    div {
                        background-image: url(../images/icon9.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon9_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon9_disable.png);
                        }
                    }
                }
                &.nav-icon10 {

                    div {
                        background-image: url(../images/icon10.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon10_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon10_disable.png);
                        }
                    }
                }
                &.nav-icon11 {

                    div {
                        background-image: url(../images/icon11.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon11_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon11_disable.png);
                        }
                    }
                }
                &.nav-icon12 {

                    div {
                        background-image: url(../images/icon12.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon12_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon12_disable.png);
                        }
                    }
                }
                &.nav-icon13 {

                    div {
                        background-image: url(../images/icon13.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon13_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon13_disable.png);
                        }
                    }
                }
                &.nav-icon14 {

                    div {
                        background-image: url(../images/icon14.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon14_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon14_disable.png);
                        }
                    }
                }
                &.nav-icon15 {

                    div {
                        background-image: url(../images/icon15.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon15_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon15_disable.png);
                        }
                    }
                }
                &.nav-icon16 {

                    div {
                        background-image: url(../images/icon16.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon16_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon16_disable.png);
                        }
                    }
                }
                &.nav-icon17 {

                    div {
                        background-image: url(../images/icon17.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon17_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon17_disable.png);
                        }
                    }
                }
                &.nav-icon18 {

                    div {
                        background-image: url(../images/icon18.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon18_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon18_disable.png);
                        }
                    }
                }
                &.nav-icon19 {

                    div {
                        background-image: url(../images/icon19.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon19_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon19_disable.png);
                        }
                    }
                }
                &.nav-icon20 {

                    div {
                        background-image: url(../images/icon20.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon20_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon20_disable.png);
                        }
                    }
                }
                &.nav-icon21 {

                    div {
                        background-image: url(../images/icon21.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon21_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon21_disable.png);
                        }
                    }
                }
                &.nav-icon22 {

                    div {
                        background-image: url(../images/icon22.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon22_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon22_disable.png);
                        }
                    }
                }
                &.nav-icon23 {

                    div {
                        background-image: url(../images/icon23.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon23_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon23_disable.png);
                        }
                    }
                }
                &.nav-icon24 {

                    div {
                        background-image: url(../images/icon24.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon24_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon24_disable.png);
                        }
                    }
                }
                &.nav-icon25 {

                    div {
                        background-image: url(../images/icon25.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon25_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon25_disable.png);
                        }
                    }
                }
                &.nav-icon26 {

                    div {
                        background-image: url(../images/icon26.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon26_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon26_disable.png);
                        }
                    }
                }
                &.nav-icon27 {

                    div {
                        background-image: url(../images/icon27.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon27_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon27_disable.png);
                        }
                    }
                }
                &.nav-icon28 {

                    div {
                        background-image: url(../images/icon28.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon28_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon28_disable.png);
                        }
                    }
                }
                &.nav-icon29 {

                    div {
                        background-image: url(../images/icon29.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon29_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon29_disable.png);
                        }
                    }
                }
                &.nav-icon30 {

                    div {
                        background-image: url(../images/icon30.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon30_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon30_disable.png);
                        }
                    }
                }
                &.nav-icon31 {

                    div {
                        background-image: url(../images/icon31.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon31_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon31_disable.png);
                        }
                    }
                }
                &.nav-icon32 {

                    div {
                        background-image: url(../images/icon32.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon32_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon32_disable.png);
                        }
                    }
                }
                &.nav-icon33 {

                    div {
                        background-image: url(../images/icon33.png);
                    }
                    &:hover {
                        div {
                            background-image: url(../images/icon33_hover.png);
                        }
                    }
                    &.disable {
                        div {
                            background-image: url(../images/icon33_disable.png);
                        }
                    }
                }


            }
            p {
                font-size: 20px;
                font-weight: 600;
                margin: 5px 0px 0px 0px;
                color: $button-color;
                line-height: 20px;
                min-height: 40px;
            }
        }
    }
}


.main {


    padding: 0px 0px 0px 320px;

    @media screen and (max-width: 1400px) {

        padding: 0px 0px 0px 250px;

    }

    .colleft {
        float: left;
        width: 320px;

        margin: 0px 0px 0px -320px;

        @media screen and (max-width: 1400px) {

            width: 250px;
            margin: 0px 0px 0px -250px;

        }

        .nav-left {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                min-height: 95px;
                border-bottom: 1px solid #eeeeee;
                @include transition();
                cursor: pointer;
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    border-style: solid;
                    border-width: 15px 20px;
                    border-color: transparent;
                    border-left-color: $base-color;
                    top: 50%;
                    right: -40px;
                    z-index: 99;
                    margin-top: -15px;
                    @include transition();
                    visibility: hidden;
                    opacity: 0;
                }
                a {

                    display: block;
                    padding: 20px;
                    line-height: 55px;
                    font-size: 25px;
                    font-weight: 600;
                    color: $base-color;
                }
                span {
                    font-weight: bold;
                    height: 55px;
                    width: 80px;
                    float: left;
                    margin: 0px 20px 0px 30px;

                    @media screen and (max-width: 1400px) {


                        margin: 0px 15px 0px 0px;

                    }

                }
                &.nav-item1 {
                    span {
                        background-image: url(../images/left_icon1.png);

                    }
                }
                &.nav-item2 {
                    span {
                        background-image: url(../images/left_icon2.png);

                    }
                }
                &.nav-item3 {
                    span {
                        background-image: url(../images/left_icon3.png);

                    }
                }
                &.nav-item4 {
                    span {
                        background-image: url(../images/left_icon4.png);

                    }
                }
                &.active-nav {
                    background-color: $base-color;
                    &:before {
                        visibility: visible;
                        opacity: 1;
                    }
                    a {
                        color: #fff;
                    }
                    &.nav-item1 {

                        span {
                            background-image: url(../images/left_icon1_active.png);

                        }
                    }
                    &.nav-item2 {

                        span {
                            background-image: url(../images/left_icon2_active.png);

                        }
                    }
                    &.nav-item3 {

                        span {
                            background-image: url(../images/left_icon3_active.png);

                        }
                    }
                    &.nav-item4 {

                        span {
                            background-image: url(../images/left_icon4_active.png);

                        }
                    }
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
    .colright {
        width: 100%;

        background-image: url(../images/bg.jpg);
    }

    .content-box-wrap {

        background-color: #a3b3cc;
        max-width: 1100px;
        padding: 45px;

        @media screen and (max-width: 1400px) {

            padding: 40px;

        }
    }
    .content-box {
        min-height: 500px;
        background-color: #fff;
        padding: 50px 60px;

        @media screen and (max-width: 1400px) {

            padding: 40px;

        }
    }

}


.my-table {
    margin: 0px 0px 60px 0px;
    table {
        border: 3px solid $border-color;
        width: 100%;
        thead {
            background-color: $caption-color-second;
            text-align: center;
            font-size: 24px;
            border-bottom: 2px solid $border-color;
            color: #fff;
            th {
                text-align: center;
                padding: 10px 0px;
                font-size: 24px;
                letter-spacing: 10px;
            }
        }
        td {

            padding: 13px 10px;
            &.col-caption {
                width: 200px;

                p {
                    text-align: left;
                    padding: 0px 0px 0px 20px;
                }
            }
            &.col-title {
                p {
                    text-align: left;
                    font-size: 24px;
                    color: $caption-color-second;
                    padding: 0px 0px 0px 20px;
                }

            }
            p {
                margin: 0px;
                text-align: left;
                font-weight: 600;
                font-size: 24px;
                letter-spacing: 5px;
            }
            .text-value {
                padding: 0px 20px;
                p {
                    color: $text-color-second;
                    letter-spacing: 0px;

                    font-size: 20px;
                }
            }
        }
    }

    &.table-caption-color {
        table {
            td {

                padding: 16px 10px;
                border-bottom: 1px solid $border-color-second;
                &.col-caption {
                    width: 200px;
                    background-color: $caption-color;

                    p {}
                }
                p {
                    margin: 0px;
                    text-align: left;
                    font-weight: 600;
                    font-size: 24px;
                    letter-spacing: 5px;
                }
                .text-value p {
                    color: $text-color-second;
                    letter-spacing: 0px;
                    font-size: 20px;
                }
            }
        }
    }
    &.table-multi-col {
        border: 3px solid $border-color;
        h3 {
            padding: 10px 0px;
            text-align: center;
            font-size: 21px;
            background-color: #cccccc;
            margin: 0px;
        }
        table {
            border: none;
            thead {
                th {
                    font-size: 21px;
                    background-color: $caption-color;
                    padding: 8px 5px;
                    color: $text-color;
                    letter-spacing: 0px;
                }

            }
            tbody {
                tr {

                    td {
                        text-align: center;
                        padding: 8px 5px;
                        font-size: 21px;
                        p {
                            color: $text-color;
                        }
                    }
                    &:nth-child(even) {
                        background-color: #f7f6f3;
                    }
                }
            }
        }

    }
}

.nicescroll-rails {
    transition: opacity ease 0.2s;
}

.nicescroll-cursors {
    border: none !important;

    background-color: $button-color !important;
}
