/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       HTML Template
    Version:        1.0
    Author:         Danh Cong
    Skype:          congnd91
    Author URI:     https://themeforest.net/user/cizthemes    
-------------------------------------------------------------------*/
h1,
.h1 {
  font-size: 35px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 25px; }

h4,
.h4 {
  font-size: 20px; }

h5,
.h5 {
  font-size: 18px; }

h6,
.h6 {
  font-size: 15px;
  font-family: Microsoft JhengHei, sans-serif; }

/*==========Setting=========*/
html {
  font-size: 100%; }

body {
  background-color: #fff;
  font-family: Microsoft JhengHei, sans-serif;
  min-width: 320px;
  font-size: 22px;
  line-height: 1.5;
  min-width: 1300px; }

dt,
dd {
  line-height: 1.5; }

body,
html {
  height: 100%; }

a:hover {
  text-decoration: none;
  color: inherit; }

a {
  color: inherit; }

a:active,
a:focus {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.3;
  font-family: Microsoft JhengHei, sans-serif;
  font-weight: 700; }

iframe {
  width: 100%;
  border: none; }

::selection {
  background: #3c6996;
  color: #fff; }

/*==========Components=========*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: #3c6996; }

.my-btn {
  display: inline-block;
  line-height: 40px;
  padding: 0px 30px;
  font-family: Microsoft JhengHei, sans-serif;
  color: #fff;
  background-color: #3c6996;
  letter-spacing: 2px;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  border: none;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .my-btn:hover {
    background-color: #3c6996;
    outline: none;
    color: #fff; }
  .my-btn.active {
    background-color: #3c6996;
    outline: none;
    color: #fff; }
    .my-btn.active:hover {
      opacity: 0.8; }

.row-fix {
  margin-left: -10px;
  margin-right: -10px; }
  .row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px; }
  @media screen and (max-width: 767px) {
    .row-fix {
      margin-left: -5px !important;
      margin-right: -5px !important; }
      .row-fix .col-fix {
        padding-left: 5px !important;
        padding-right: 5px !important; } }

.wrap {
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0px auto; }
  @media (min-width: 768px) {
    .wrap {
      width: 750px; } }
  @media (min-width: 992px) {
    .wrap {
      width: 970px; } }
  @media (min-width: 1200px) {
    .wrap {
      width: 1170px; } }
  @media (min-width: 1360px) {
    .wrap {
      width: 1300px; } }

.header {
  position: relative;
  z-index: 9;
  background-color: #dcefff;
  min-height: 155px;
  padding: 20px 0px 0px 320px; }
  @media screen and (max-width: 1400px) {
    .header {
      padding: 20px 0px 0px 250px; } }
  .header .brand {
    float: left;
    width: 320px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 0px -320px; }
    @media screen and (max-width: 1400px) {
      .header .brand {
        width: 250px;
        margin: 0px 0px 0px -250px; } }
  .header .nav {
    padding: 0px 10px 0px 0px;
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    min-height: 150px; }
    .header .nav ul {
      padding: 0px;
      list-style: none;
      margin: 0px;
      display: inline-block;
      white-space: nowrap; }
    .header .nav li {
      margin: 10px 20px 0px 0px;
      text-align: center;
      display: inline-block;
      vertical-align: bottom; }
      .header .nav li .fonts-panel {
        width: 128px;
        height: 64px;
        margin: 0px auto;
        background-color: #dcdcdc;
        border-radius: 14px;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
        border: 2px solid #aaaaaa;
        background-image: none !important; }
        .header .nav li .fonts-panel span {
          float: left;
          width: 50%;
          height: 60px;
          background: url("../images/icon_text.png") no-repeat center center;
          cursor: pointer;
          opacity: 0.9; }
          .header .nav li .fonts-panel span:hover {
            opacity: 1; }
          .header .nav li .fonts-panel span.small {
            border-right: 1px solid #aaaaaa;
            background-size: 39% 39%; }
      .header .nav li .color-panel {
        width: auto;
        height: 64px;
        margin: 0px auto;
        background-color: #fff;
        border-radius: 14px;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
        background-image: none !important; }
        .header .nav li .color-panel .pen {
          float: left;
          width: 54px;
          height: 54px;
          float: left;
          background: url("../images/icon_pen.png") no-repeat center center;
          cursor: pointer; }
        .header .nav li .color-panel.line {
          float: left;
          height: 30px;
          margin: 10px 0px 0px 0px;
          width: 3px;
          background-color: #6d53a3; }
        .header .nav li .color-panel .color-item {
          border-radius: 50%;
          width: 21px;
          height: 21px;
          float: left;
          margin: 23px 10px 0px 10px;
          cursor: pointer; }
          .header .nav li .color-panel .color-item.white {
            border: 2px solid #000; }
          .header .nav li .color-panel .color-item.delete-color {
            background: url("../images/icon_delete_color.png") no-repeat center center; }
      .header .nav li a {
        display: block; }
        .header .nav li a div {
          width: 64px;
          height: 64px;
          margin: 0px auto;
          background-color: #fff;
          border-radius: 14px;
          background-repeat: no-repeat;
          background-position: center center;
          box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
          padding: 5px; }
        .header .nav li a:hover p {
          color: #3599cb; }
        .header .nav li a.disable p {
          color: #999999; }
        .header .nav li a.nav-icon1 div {
          background-image: url(../images/icon1.png); }
        .header .nav li a.nav-icon1:hover div {
          background-image: url(../images/icon1_hover.png); }
        .header .nav li a.nav-icon1.disable div {
          background-image: url(../images/icon1_disable.png); }
        .header .nav li a.nav-icon2 div {
          background-image: url(../images/icon2.png); }
        .header .nav li a.nav-icon2:hover div {
          background-image: url(../images/icon2_hover.png); }
        .header .nav li a.nav-icon2.disable div {
          background-image: url(../images/icon2_disable.png); }
        .header .nav li a.nav-icon3 div {
          background-image: url(../images/icon3.png); }
        .header .nav li a.nav-icon3:hover div {
          background-image: url(../images/icon3_hover.png); }
        .header .nav li a.nav-icon3.disable div {
          background-image: url(../images/icon3_disable.png); }
        .header .nav li a.nav-icon4 div {
          background-image: url(../images/icon4.png); }
        .header .nav li a.nav-icon4:hover div {
          background-image: url(../images/icon4_hover.png); }
        .header .nav li a.nav-icon4.disable div {
          background-image: url(../images/icon4_disable.png); }
        .header .nav li a.nav-icon5 div {
          background-image: url(../images/icon5.png); }
        .header .nav li a.nav-icon5:hover div {
          background-image: url(../images/icon5_hover.png); }
        .header .nav li a.nav-icon5.disable div {
          background-image: url(../images/icon5_disable.png); }
        .header .nav li a.nav-icon6 div {
          background-image: url(../images/icon6.png); }
        .header .nav li a.nav-icon6:hover div {
          background-image: url(../images/icon6_hover.png); }
        .header .nav li a.nav-icon6.disable div {
          background-image: url(../images/icon6_disable.png); }
        .header .nav li a.nav-icon7 div {
          background-image: url(../images/icon7.png); }
        .header .nav li a.nav-icon7:hover div {
          background-image: url(../images/icon7_hover.png); }
        .header .nav li a.nav-icon7.disable div {
          background-image: url(../images/icon7_disable.png); }
        .header .nav li a.nav-icon8 div {
          background-image: url(../images/icon8.png); }
        .header .nav li a.nav-icon8:hover div {
          background-image: url(../images/icon8_hover.png); }
        .header .nav li a.nav-icon8.disable div {
          background-image: url(../images/icon8_disable.png); }
        .header .nav li a.nav-icon9 div {
          background-image: url(../images/icon9.png); }
        .header .nav li a.nav-icon9:hover div {
          background-image: url(../images/icon9_hover.png); }
        .header .nav li a.nav-icon9.disable div {
          background-image: url(../images/icon9_disable.png); }
        .header .nav li a.nav-icon10 div {
          background-image: url(../images/icon10.png); }
        .header .nav li a.nav-icon10:hover div {
          background-image: url(../images/icon10_hover.png); }
        .header .nav li a.nav-icon10.disable div {
          background-image: url(../images/icon10_disable.png); }
        .header .nav li a.nav-icon11 div {
          background-image: url(../images/icon11.png); }
        .header .nav li a.nav-icon11:hover div {
          background-image: url(../images/icon11_hover.png); }
        .header .nav li a.nav-icon11.disable div {
          background-image: url(../images/icon11_disable.png); }
        .header .nav li a.nav-icon12 div {
          background-image: url(../images/icon12.png); }
        .header .nav li a.nav-icon12:hover div {
          background-image: url(../images/icon12_hover.png); }
        .header .nav li a.nav-icon12.disable div {
          background-image: url(../images/icon12_disable.png); }
        .header .nav li a.nav-icon13 div {
          background-image: url(../images/icon13.png); }
        .header .nav li a.nav-icon13:hover div {
          background-image: url(../images/icon13_hover.png); }
        .header .nav li a.nav-icon13.disable div {
          background-image: url(../images/icon13_disable.png); }
        .header .nav li a.nav-icon14 div {
          background-image: url(../images/icon14.png); }
        .header .nav li a.nav-icon14:hover div {
          background-image: url(../images/icon14_hover.png); }
        .header .nav li a.nav-icon14.disable div {
          background-image: url(../images/icon14_disable.png); }
        .header .nav li a.nav-icon15 div {
          background-image: url(../images/icon15.png); }
        .header .nav li a.nav-icon15:hover div {
          background-image: url(../images/icon15_hover.png); }
        .header .nav li a.nav-icon15.disable div {
          background-image: url(../images/icon15_disable.png); }
        .header .nav li a.nav-icon16 div {
          background-image: url(../images/icon16.png); }
        .header .nav li a.nav-icon16:hover div {
          background-image: url(../images/icon16_hover.png); }
        .header .nav li a.nav-icon16.disable div {
          background-image: url(../images/icon16_disable.png); }
        .header .nav li a.nav-icon17 div {
          background-image: url(../images/icon17.png); }
        .header .nav li a.nav-icon17:hover div {
          background-image: url(../images/icon17_hover.png); }
        .header .nav li a.nav-icon17.disable div {
          background-image: url(../images/icon17_disable.png); }
        .header .nav li a.nav-icon18 div {
          background-image: url(../images/icon18.png); }
        .header .nav li a.nav-icon18:hover div {
          background-image: url(../images/icon18_hover.png); }
        .header .nav li a.nav-icon18.disable div {
          background-image: url(../images/icon18_disable.png); }
        .header .nav li a.nav-icon19 div {
          background-image: url(../images/icon19.png); }
        .header .nav li a.nav-icon19:hover div {
          background-image: url(../images/icon19_hover.png); }
        .header .nav li a.nav-icon19.disable div {
          background-image: url(../images/icon19_disable.png); }
        .header .nav li a.nav-icon20 div {
          background-image: url(../images/icon20.png); }
        .header .nav li a.nav-icon20:hover div {
          background-image: url(../images/icon20_hover.png); }
        .header .nav li a.nav-icon20.disable div {
          background-image: url(../images/icon20_disable.png); }
        .header .nav li a.nav-icon21 div {
          background-image: url(../images/icon21.png); }
        .header .nav li a.nav-icon21:hover div {
          background-image: url(../images/icon21_hover.png); }
        .header .nav li a.nav-icon21.disable div {
          background-image: url(../images/icon21_disable.png); }
        .header .nav li a.nav-icon22 div {
          background-image: url(../images/icon22.png); }
        .header .nav li a.nav-icon22:hover div {
          background-image: url(../images/icon22_hover.png); }
        .header .nav li a.nav-icon22.disable div {
          background-image: url(../images/icon22_disable.png); }
        .header .nav li a.nav-icon23 div {
          background-image: url(../images/icon23.png); }
        .header .nav li a.nav-icon23:hover div {
          background-image: url(../images/icon23_hover.png); }
        .header .nav li a.nav-icon23.disable div {
          background-image: url(../images/icon23_disable.png); }
        .header .nav li a.nav-icon24 div {
          background-image: url(../images/icon24.png); }
        .header .nav li a.nav-icon24:hover div {
          background-image: url(../images/icon24_hover.png); }
        .header .nav li a.nav-icon24.disable div {
          background-image: url(../images/icon24_disable.png); }
        .header .nav li a.nav-icon25 div {
          background-image: url(../images/icon25.png); }
        .header .nav li a.nav-icon25:hover div {
          background-image: url(../images/icon25_hover.png); }
        .header .nav li a.nav-icon25.disable div {
          background-image: url(../images/icon25_disable.png); }
        .header .nav li a.nav-icon26 div {
          background-image: url(../images/icon26.png); }
        .header .nav li a.nav-icon26:hover div {
          background-image: url(../images/icon26_hover.png); }
        .header .nav li a.nav-icon26.disable div {
          background-image: url(../images/icon26_disable.png); }
        .header .nav li a.nav-icon27 div {
          background-image: url(../images/icon27.png); }
        .header .nav li a.nav-icon27:hover div {
          background-image: url(../images/icon27_hover.png); }
        .header .nav li a.nav-icon27.disable div {
          background-image: url(../images/icon27_disable.png); }
        .header .nav li a.nav-icon28 div {
          background-image: url(../images/icon28.png); }
        .header .nav li a.nav-icon28:hover div {
          background-image: url(../images/icon28_hover.png); }
        .header .nav li a.nav-icon28.disable div {
          background-image: url(../images/icon28_disable.png); }
        .header .nav li a.nav-icon29 div {
          background-image: url(../images/icon29.png); }
        .header .nav li a.nav-icon29:hover div {
          background-image: url(../images/icon29_hover.png); }
        .header .nav li a.nav-icon29.disable div {
          background-image: url(../images/icon29_disable.png); }
        .header .nav li a.nav-icon30 div {
          background-image: url(../images/icon30.png); }
        .header .nav li a.nav-icon30:hover div {
          background-image: url(../images/icon30_hover.png); }
        .header .nav li a.nav-icon30.disable div {
          background-image: url(../images/icon30_disable.png); }
        .header .nav li a.nav-icon31 div {
          background-image: url(../images/icon31.png); }
        .header .nav li a.nav-icon31:hover div {
          background-image: url(../images/icon31_hover.png); }
        .header .nav li a.nav-icon31.disable div {
          background-image: url(../images/icon31_disable.png); }
        .header .nav li a.nav-icon32 div {
          background-image: url(../images/icon32.png); }
        .header .nav li a.nav-icon32:hover div {
          background-image: url(../images/icon32_hover.png); }
        .header .nav li a.nav-icon32.disable div {
          background-image: url(../images/icon32_disable.png); }
        .header .nav li a.nav-icon33 div {
          background-image: url(../images/icon33.png); }
        .header .nav li a.nav-icon33:hover div {
          background-image: url(../images/icon33_hover.png); }
        .header .nav li a.nav-icon33.disable div {
          background-image: url(../images/icon33_disable.png); }
      .header .nav li p {
        font-size: 20px;
        font-weight: 600;
        margin: 5px 0px 0px 0px;
        color: #6d53a3;
        line-height: 20px;
        min-height: 40px; }

.main {
  padding: 0px 0px 0px 320px; }
  @media screen and (max-width: 1400px) {
    .main {
      padding: 0px 0px 0px 250px; } }
  .main .colleft {
    float: left;
    width: 320px;
    margin: 0px 0px 0px -320px; }
    @media screen and (max-width: 1400px) {
      .main .colleft {
        width: 250px;
        margin: 0px 0px 0px -250px; } }
    .main .colleft .nav-left {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      .main .colleft .nav-left li {
        min-height: 95px;
        border-bottom: 1px solid #eeeeee;
        -moz-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        -webkit-transition: all ease 0.2s;
        transition: all ease 0.2s;
        cursor: pointer;
        position: relative; }
        .main .colleft .nav-left li:before {
          content: "";
          display: block;
          position: absolute;
          border-style: solid;
          border-width: 15px 20px;
          border-color: transparent;
          border-left-color: #3c6996;
          top: 50%;
          right: -40px;
          z-index: 99;
          margin-top: -15px;
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
          visibility: hidden;
          opacity: 0; }
        .main .colleft .nav-left li a {
          display: block;
          padding: 20px;
          line-height: 55px;
          font-size: 25px;
          font-weight: 600;
          color: #3c6996; }
        .main .colleft .nav-left li span {
          font-weight: bold;
          height: 55px;
          width: 80px;
          float: left;
          margin: 0px 20px 0px 30px; }
          @media screen and (max-width: 1400px) {
            .main .colleft .nav-left li span {
              margin: 0px 15px 0px 0px; } }
        .main .colleft .nav-left li.nav-item1 span {
          background-image: url(../images/left_icon1.png); }
        .main .colleft .nav-left li.nav-item2 span {
          background-image: url(../images/left_icon2.png); }
        .main .colleft .nav-left li.nav-item3 span {
          background-image: url(../images/left_icon3.png); }
        .main .colleft .nav-left li.nav-item4 span {
          background-image: url(../images/left_icon4.png); }
        .main .colleft .nav-left li.active-nav {
          background-color: #3c6996; }
          .main .colleft .nav-left li.active-nav:before {
            visibility: visible;
            opacity: 1; }
          .main .colleft .nav-left li.active-nav a {
            color: #fff; }
          .main .colleft .nav-left li.active-nav.nav-item1 span {
            background-image: url(../images/left_icon1_active.png); }
          .main .colleft .nav-left li.active-nav.nav-item2 span {
            background-image: url(../images/left_icon2_active.png); }
          .main .colleft .nav-left li.active-nav.nav-item3 span {
            background-image: url(../images/left_icon3_active.png); }
          .main .colleft .nav-left li.active-nav.nav-item4 span {
            background-image: url(../images/left_icon4_active.png); }
        .main .colleft .nav-left li:hover {
          opacity: 0.9; }
  .main .colright {
    width: 100%;
    background-image: url(../images/bg.jpg); }
  .main .content-box-wrap {
    background-color: #a3b3cc;
    max-width: 1100px;
    padding: 45px; }
    @media screen and (max-width: 1400px) {
      .main .content-box-wrap {
        padding: 40px; } }
  .main .content-box {
    min-height: 500px;
    background-color: #fff;
    padding: 50px 60px; }
    @media screen and (max-width: 1400px) {
      .main .content-box {
        padding: 40px; } }

.my-table {
  margin: 0px 0px 60px 0px; }
  .my-table table {
    border: 3px solid #898989;
    width: 100%; }
    .my-table table thead {
      background-color: #cdb683;
      text-align: center;
      font-size: 24px;
      border-bottom: 2px solid #898989;
      color: #fff; }
      .my-table table thead th {
        text-align: center;
        padding: 10px 0px;
        font-size: 24px;
        letter-spacing: 10px; }
    .my-table table td {
      padding: 13px 10px; }
      .my-table table td.col-caption {
        width: 200px; }
        .my-table table td.col-caption p {
          text-align: left;
          padding: 0px 0px 0px 20px; }
      .my-table table td.col-title p {
        text-align: left;
        font-size: 24px;
        color: #cdb683;
        padding: 0px 0px 0px 20px; }
      .my-table table td p {
        margin: 0px;
        text-align: left;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 5px; }
      .my-table table td .text-value {
        padding: 0px 20px; }
        .my-table table td .text-value p {
          color: #949494;
          letter-spacing: 0px;
          font-size: 20px; }
  .my-table.table-caption-color table td {
    padding: 16px 10px;
    border-bottom: 1px solid #b2b0b0; }
    .my-table.table-caption-color table td.col-caption {
      width: 200px;
      background-color: #efe8d0; }
    .my-table.table-caption-color table td p {
      margin: 0px;
      text-align: left;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 5px; }
    .my-table.table-caption-color table td .text-value p {
      color: #949494;
      letter-spacing: 0px;
      font-size: 20px; }
  .my-table.table-multi-col {
    border: 3px solid #898989; }
    .my-table.table-multi-col h3 {
      padding: 10px 0px;
      text-align: center;
      font-size: 21px;
      background-color: #cccccc;
      margin: 0px; }
    .my-table.table-multi-col table {
      border: none; }
      .my-table.table-multi-col table thead th {
        font-size: 21px;
        background-color: #efe8d0;
        padding: 8px 5px;
        color: #313131;
        letter-spacing: 0px; }
      .my-table.table-multi-col table tbody tr td {
        text-align: center;
        padding: 8px 5px;
        font-size: 21px; }
        .my-table.table-multi-col table tbody tr td p {
          color: #313131; }
      .my-table.table-multi-col table tbody tr:nth-child(even) {
        background-color: #f7f6f3; }

.nicescroll-rails {
  transition: opacity ease 0.2s; }

.nicescroll-cursors {
  border: none !important;
  background-color: #6d53a3 !important; }

/*# sourceMappingURL=main.css.map */